
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        font-size: 62.5%;
    }
    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
    }
    .inputs{
        border: none;
        border-bottom: 1px solid #e5e5e5;

    }
    label {
        font-weight: 300;
        font-size: 1.5rem;
        color: #a3a3a3;
        margin-bottom: 1.2rem;
    }
    .divInput {
        display: flex;
        margin: 2rem 0; 
    }
    input {
        min-width: 35rem;
        font-size: 1.5rem;
    }
        input:focus {
            outline: none;
            border-bottom: 1px solid #681ad6;
            transition: all .7s ease-in-out;
        }
    .formulario {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        gap: 5rem;
    }
    .divInput {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .btnsubmit {
        background-color: #6c2cbf;
        border: none;
        width: 4rem;
        height: 4rem;
        color: #fff;
        border: 1px solid #6c2cbf;
        font-size: 1.5rem;
        border-radius: 10px;
    }
        .btnsubmit:hover {
            border: 1px solid #6c2cbf;
            background-color: #fff;
            color: #6c2cbf;
            transition: all .5s ease-in-out;
        }
    .btngeneric {
        background-color: #6c2cbf;
        border: none;
        color: #fff;
        border: 1px solid #6c2cbf;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem 0;
    }

        .btngeneric:hover {
            border: 1px solid #6c2cbf;
            background-color: #fff;
            color: #6c2cbf;
            transition: all .5s ease-in-out;
            cursor: pointer;
            text-decoration: none;
        }
    select {
        min-width: 35rem;
        font-size: 1.5rem;
    }
        select:focus {
            outline: none;
            border-bottom: 1px solid #681ad6;
            transition: all .7s ease-in-out;
        }
    select option {
        font-size: 1.5rem;
    }

    .errorDiv {
        background-color: #ffe8ed;
        border: 2px solid #ad2323;
        padding: 1rem;
        /*max-width: 25rem;*/
        text-align: center;
    }
    .erroMensaje {
        margin: 0;
        font-size: 1.5rem;
        color: #ad2323;
        font-weight: 500;
    }
</style>


<div class="contenedor">

    <h2>Alumnos</h2>

    <div style="margin: 2rem 0;">
        <a id="btnAgregarNAlumno" class="btngeneric">Agregar nuevo Alumno</a>
    </div>

    

</div>

<div>
    <table class="table table-condensed" style="font-size: 1.2rem; min-width:1500px;">
        <thead>
            <tr id="TitulosTabla">
                <th scope="col">Id</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Nombre</th>
                <th scope="col">CURP</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Municipio</th>
                <th scope="col">Domicilio</th>
                <th scope="col">NombreCompleto</th>
                <th scope="col">Materia</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody id="tBodyAlumnos">
        </tbody>
    </table>

</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>


        //Arreglos

        const generosArray = [];
        const municipiosArray = [];
        const materiasArray = [];
        const profesoresArray = [];

        document.addEventListener("DOMContentLoaded", () => {
            //Obtener Alumnos
            $.ajax({
                type: "get",
                url: "/Escuela/GET_Students",
                dataType: 'json',
                success: (data) => {
                    //console.log("Data", data);


                    generateTable(data, false);
                }

            });

            //Obtener Generos
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Generos",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        generosArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

            //Obtener Municipios
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Municipios",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        municipiosArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

            //Obtener Materias
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Materias",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        materiasArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

            //Obtener Profesores
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Profesores",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        profesoresArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

        });

        const btnAgregarNAlumno = document.querySelector("#btnAgregarNAlumno");

        btnAgregarNAlumno.addEventListener("click", (e) => {
            e.preventDefault();


            Swal.fire({
                title: 'Agregar nuevo Alumno',
                html: `
                        <form class="formulario" id="FormAlumno">
                            <div class="divInput">
                                <label for="nombreAlumno">Nombre: </label>
                                <input id="nombreAlumno" type="text" class="inputs" placeholder="Nombre:" />
                            </div>
                            <div class="divInput">
                                <label for="apellidoPAlumno">Apellido Paterno: </label>
                                <input id="apellidoAPlumno" type="text" class="inputs" placeholder="Apellido Paterno" />
                            </div>
                            <div class="divInput">
                                <label for="apellidoMAlumno">Apellido Materno: </label>
                                <input id="apellidoMAlumno" type="text" class="inputs" placeholder="Apellido Materno" />
                            </div>
                            <div class="divInput">
                                <label for="curpAlumno">CURP: </label>
                                <input id="curpAlumno" type="text" class="inputs" placeholder="CURP" />
                            </div>
                            <div class="divInput">
                                <label for="txtTelefono">Teléfono: </label>
                                <input id="txtTelefono" type="text" class="inputs" placeholder="Teléfono" />
                            </div>
                            <div class="divInput">
                                <label for="txtCorreo">Correo: </label>
                                <input id="txtCorreo" type="email" class="inputs" placeholder="Correo" />
                            </div>
                            <div class="divInput">
                                <label for="txtEdad">Edad: </label>
                                <input id="txtEdad" type="text" class="inputs" placeholder="Edad" />
                            </div>
                            <div class="divInput">
                               <label for="selectGenre">Género: </label>
                               <select id="selectGenre" class="inputs" placeholder="Seleccione un Género">
                               </select>
                            </div>
                            <div class="divInput">
                                <label for="txtDomicilio">Domicilio: </label>
                                <input id="txtDomicilio" type="text" class="inputs" placeholder="Domicilio" />
                            </div>
                            <div class="divInput">
                               <label for="selectMunicipio">Municipio: </label>
                               <select id="selectMunicipio" class="inputs" placeholder="Seleccione un Municipio">
                               </select>
                            </div>
                            <div class="divInput">
                               <label for="selectMaterias">Materia: </label>
                               <select id="selectMaterias" class="inputs" placeholder="Seleccione una Materia">
                               </select>
                            </div>
                            <div class="divInput">
                               <label for="selectProfesor">Profesor: </label>
                               <select id="selectProfesor" class="inputs" placeholder="Seleccione un Profesor">
                               </select>
                            </div>
                            <div class="divInput">
                                <input  type="submit" class="btnsubmit"  />
                            </div>


                        </form>
                `,
                width: 1300,
                didOpen: () => {

                    //Agregar opciones a Select
                    addOptions();

                    //Evento Submit

                    const FormAlumno = document.querySelector('#FormAlumno');

                    FormAlumno.addEventListener('submit', addAlumno);
                },
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                showConfirmButton: false,

            })
        })


        function addOptions() {

            //Se agregan opciones al Select

            const select = document.querySelector("#selectGenre");
            const selectMunicipio = document.querySelector("#selectMunicipio");
            const selectMaterias = document.querySelector("#selectMaterias");
            const selectProfesor = document.querySelector("#selectProfesor");

            generosArray.forEach(gen => {
                const option = document.createElement('option');

                option.setAttribute('id', gen.Id);
                option.textContent = gen.Nombre;
                option.value = gen.Id;

                select.appendChild(option);
            });

            municipiosArray.forEach(mun => {
                const option = document.createElement('option');

                option.setAttribute('id', mun.Id);
                option.textContent = mun.Nombre;
                option.value = mun.Id;

                selectMunicipio.appendChild(option);
            });

            materiasArray.forEach(mat => {
                const option = document.createElement('option');

                option.setAttribute('id', mat.Id);
                option.textContent = mat.Nombre;
                option.value = mat.Id;

                selectMaterias.appendChild(option);
            });

            profesoresArray.forEach(pro => {
                const option = document.createElement('option');

                option.setAttribute('id', pro.Id);
                option.textContent = pro.NombreCompleto;
                option.value = pro.Id;

                selectProfesor.appendChild(option);
            });


        }




        function addAlumno(e) {
            e.preventDefault();

            const txtNombre = document.querySelector('#nombreAlumno');
            const txtApellidoP = document.querySelector("#apellidoAPlumno");
            const txtApellidoM = document.querySelector("#apellidoMAlumno");
            const txtCurp = document.querySelector("#curpAlumno");
            const txtTelefono = document.querySelector("#txtTelefono");
            const txtCorreo = document.querySelector("#txtCorreo");
            const txtEdad = document.querySelector("#txtEdad");
            const txtDomicilio = document.querySelector("#txtDomicilio");
            const select = document.querySelector("#selectGenre");
            const selectMunicipio = document.querySelector("#selectMunicipio");
            const selectMaterias = document.querySelector("#selectMaterias");
            const selectProfesor = document.querySelector("#selectProfesor");

            let validacionEmail = false;
            let validacionTelefono = false;
            let validacionCurp = false;

            if (txtNombre.value.trim() == "" || txtApellidoP.value.trim() == "" || txtApellidoM.value.trim() == ""
                || txtCurp.value.trim() == "" || txtTelefono.value.trim() == "" || txtCorreo.value.trim() == ""
                || txtCorreo.value.trim() == "" || txtEdad.value.trim() == "" || select.value == ""
                || selectMunicipio.value == "" || selectMaterias.value == "" || txtDomicilio.value.trim() == "" || selectProfesor.value == "") {

                //Genera el error
                errorMessage('Llene todos los campos solicitados');

                return;
            }

            //Eliminar error de campos vacíos
            const errorDiv = document.querySelector(".errorDiv");

            if (errorDiv) {
                errorDiv.remove();
            }

            //------------------------------------------ Validaciones Campos ---------------------------------------------//

            validacionEmail = validateEmail(txtCorreo.value);

            if (!validacionEmail) {
                errorMessage('Use un correo válido');
                return;
            }

            validacionTelefono = validateTelefono(txtTelefono.value);

            if (!validacionTelefono) {
                errorMessage('Use un número de teléfono válido');
                return;
            }

            validacionCurp = validateCurp(txtCurp.value);

            if (!validacionCurp) {
                errorMessage('Use un CURP válido');
                return;
            }

            //------------------------------------------ Validaciones Campos ---------------------------------------------//

            //----------------------------------------- Pasa validaciones Agrega el usuario ---------------------------------//

            addStudent(txtNombre.value, txtApellidoP.value, txtApellidoM.value, txtCurp.value, txtTelefono.value, txtCorreo.value, txtEdad.value, select.value, selectMunicipio.value, selectMaterias.value, txtDomicilio.value, selectProfesor.value);


            //----------------------------------------- Pasa validaciones Agrega el usuario ---------------------------------//

        }

        const errorMessage = (mensaje) => {

            const formulario = document.querySelector("#FormAlumno");

            const divError = document.createElement('div');
            const pMensaje = document.createElement('p');


            //Parrafo Mensaje
            pMensaje.classList.add('erroMensaje');
            pMensaje.textContent = mensaje;

            //DivMensaje
            divError.classList.add('errorDiv');
            divError.appendChild(pMensaje);

            //Insertar div de error

            const divContenedor = formulario.parentElement;

            divContenedor.prepend(divError);

            //console.log("Error", formulario.parentElement);

        }

        const validateEmail = (email) => {

            return /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i.test(email);
        }

        const validateTelefono = (telefono) => {

            return telefono.match(/\d/g).length === 10;
        }

        const validateCurp = (telefono) => {

            return telefono.match(/^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/);
        }

        const addStudent = (Nombre, ApellidoP, ApellidoM, CURP, Telefono, Correo, Edad, Genero, Municipio, Materias, Domicilio, Profesor) => {

            const objAlumno = {
                Nombre: Nombre,
                ApellidoP: ApellidoP,
                ApellidoM: ApellidoM,
                CURP: CURP,
                Telefono: Telefono,
                Correo: Correo,
                Edad: Edad,
                Genero: Genero,
                Domicilio: Domicilio,
                Municipio: Municipio,
                Materias: Materias,
                Profesor: Profesor
            }

            $.ajax({
                type: "Post",
                data: objAlumno,
                url: "/Escuela/addNewStudent/",
                success: (data) => {
                    console.log(data);
                    if (data[0].Respuesta == "Alumno Agregado Correctamente") {
                        $.ajax({
                            type: "get",
                            url: "/Escuela/GET_Last_Student",
                            dataType: 'json',
                            success: (data) => {
                                console.log("Último Alumno", data);
                                generateTable(data, true);
                            }
                        })
                    }


                }
            })

        }


        const generateTable = (data, IsAdding) => {
            console.log("Estudiantes", data);

            const tBodyAlumnos = document.querySelector('#tBodyAlumnos');

            data.forEach(da => {
                const tr = document.createElement('tr');
                const th = document.createElement('th');

                

                //td Columnas
                const tdApellido_Paterno = document.createElement('td');
                const tdApellido_Materno = document.createElement('td');
                const tdNombre = document.createElement('td');
                const tdCURP = document.createElement('td');
                const tdCorreo = document.createElement('td');
                const tdTelefono = document.createElement('td');
                const tdEdad = document.createElement('td');
                const tdGenero = document.createElement('td');
                const tdMunicipio = document.createElement('td');
                const tdDomicilio = document.createElement('td');
                const tdNombreCompleto = document.createElement('td');
                const tdMateria = document.createElement('td');
                const tdbtnEditar = document.createElement('td');
                const tdbtnEliminar = document.createElement('td');

                const btnEditar = document.createElement('a');
                const btnEliminar = document.createElement('a');

                btnEditar.classList.add('.btngeneric');
                btnEliminar.classList.add('.btngeneric');

                th.textContent = da.Id;
                th.setAttribute('scope', 'row');

                tdApellido_Paterno.textContent = da.Apellido_Paterno;
                tdApellido_Materno.textContent = da.Apellido_Materno;
                tdNombre.textContent = da.Nombre;
                tdCURP.textContent = da.CURP;
                tdCorreo.textContent = da.Correo;
                tdTelefono.textContent = da.Telefono;
                tdEdad.textContent = da.Edad;
                tdGenero.textContent = da.Genero;
                tdMunicipio.textContent = da.Municipio;
                tdDomicilio.textContent = da.Domicilio;
                tdNombreCompleto.textContent = da.NombreCompleto;
                tdMateria.textContent = da.Materia;


                if (IsAdding) {
                    tr.prepend(tdbtnEliminar);
                    tr.prepend(tdbtnEditar);
                    tr.prepend(tdMateria);
                    tr.prepend(tdNombreCompleto);
                    tr.prepend(tdDomicilio);
                    tr.prepend(tdMunicipio);
                    tr.prepend(tdGenero);
                    tr.prepend(tdEdad);
                    tr.prepend(tdTelefono);
                    tr.prepend(tdCorreo);
                    tr.prepend(tdCURP);
                    tr.prepend(tdNombre);
                    tr.prepend(tdApellido_Materno);
                    tr.prepend(tdApellido_Paterno);
                    tr.prepend(th);
                    tBodyAlumnos.prepend(tr);
                } else {
                    tBodyAlumnos.appendChild(tr);
                    tr.appendChild(th);
                    tr.appendChild(tdApellido_Paterno);
                    tr.appendChild(tdApellido_Materno);
                    tr.appendChild(tdNombre);
                    tr.appendChild(tdCURP);
                    tr.appendChild(tdCorreo);
                    tr.appendChild(tdTelefono);
                    tr.appendChild(tdEdad);
                    tr.appendChild(tdGenero);
                    tr.appendChild(tdMunicipio);
                    tr.appendChild(tdDomicilio);
                    tr.appendChild(tdNombreCompleto);
                    tr.appendChild(tdMateria);
                    tr.appendChild(tdbtnEditar);
                    tr.appendChild(tdbtnEliminar);
                }

            });


        }

    </script>

}
