
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        font-size: 62.5%;
    }
    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
    }
    .inputs{
        border: none;
        border-bottom: 1px solid #e5e5e5;

    }
    label {
        font-weight: 300;
        font-size: 1.5rem;
        color: #a3a3a3;
        margin-bottom: 1.2rem;
    }
    .divInput {
        display: flex;
        margin: 2rem 0; 
    }
    input {
        min-width: 35rem;
        font-size: 1.5rem;
    }
        input:focus {
            outline: none;
            border-bottom: 1px solid #681ad6;
            transition: all .7s ease-in-out;
        }
    .formulario {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        gap: 5rem;
    }
    .divInput {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .btnsubmit {
        background-color: #6c2cbf;
        border: none;
        width: 4rem;
        height: 4rem;
        color: #fff;
        border: 1px solid #6c2cbf;
        font-size: 1.5rem;
        border-radius: 10px;
    }
        .btnsubmit:hover {
            border: 1px solid #6c2cbf;
            background-color: #fff;
            color: #6c2cbf;
            transition: all .5s ease-in-out;
        }
    .btngeneric {
        background-color: #6c2cbf;
        border: none;
        color: #fff;
        border: 1px solid #6c2cbf;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem 0;
    }

        .btngeneric:hover {
            border: 1px solid #6c2cbf;
            background-color: #fff;
            color: #6c2cbf;
            transition: all .5s ease-in-out;
            cursor: pointer;
            text-decoration: none;
        }
    select {
        min-width: 35rem;
        font-size: 1.5rem;
    }
        select:focus {
            outline: none;
            border-bottom: 1px solid #681ad6;
            transition: all .7s ease-in-out;
        }
    select option {
        font-size: 1.5rem;
    }

    .errorDiv {
        background-color: #ffe8ed;
        border: 2px solid #ad2323;
        padding: 1rem;
        /*max-width: 25rem;*/
        text-align: center;
    }
    .erroMensaje {
        margin: 0;
        font-size: 1.5rem;
        color: #ad2323;
        font-weight: 500;
    }
</style>


<div class="contenedor">

    <h2>Alumnos</h2>

    <div style="margin: 2rem 0;">
        <a id="btnAgregarNAlumno" class="btngeneric">Agregar nuevo Alumno</a>
    </div>


    <table class="default">

        <tr>

            <td>Celda 1</td>

            <td>Celda 2</td>

            <td>Celda 3</td>

        </tr>

        <tr>

            <td>Celda 4</td>

            <td>Celda 5</td>

            <td>Celda 6</td>

        </tr>

    </table>


</div>



@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>


        //Arreglos

        const generosArray = [];
        const municipiosArray = [];
        const materiasArray = [];

        document.addEventListener("DOMContentLoaded", () => {
            //Obtener Alumnos
            $.ajax({
                type: "get",
                url: "/Escuela/GET_Students",
                dataType: 'json',
                success: (data) => {
                    console.log("Data", data);
                }

            });

            //Obtener Generos
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Generos",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        generosArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

            //Obtener Municipios
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Municipios",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        municipiosArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

            //Obtener Materias
            $.ajax({
                type: "GET",
                url: "/Escuela/Get_Materias",
                dataType: 'json',
                success: (data) => {
                    //console.log("Generos: ", data);

                    data.forEach(da => {
                        materiasArray.push(da);
                    })

                    //console.log(generosArray);
                }
            });

        });

        const btnAgregarNAlumno = document.querySelector("#btnAgregarNAlumno");

        btnAgregarNAlumno.addEventListener("click", (e) => {
            e.preventDefault();


            Swal.fire({
                title: 'Agregar nuevo Alumno',
                html: `
                        <form class="formulario" id="FormAlumno">
                            <div class="divInput">
                                <label for="nombreAlumno">Nombre: </label>
                                <input id="nombreAlumno" type="text" class="inputs" placeholder="Nombre:" />
                            </div>
                            <div class="divInput">
                                <label for="apellidoPAlumno">Apellido Paterno: </label>
                                <input id="apellidoAPlumno" type="text" class="inputs" placeholder="Apellido Paterno" />
                            </div>
                            <div class="divInput">
                                <label for="apellidoMAlumno">Apellido Materno: </label>
                                <input id="apellidoMAlumno" type="text" class="inputs" placeholder="Apellido Materno" />
                            </div>
                            <div class="divInput">
                                <label for="curpAlumno">CURP: </label>
                                <input id="curpAlumno" type="text" class="inputs" placeholder="CURP" />
                            </div>
                            <div class="divInput">
                                <label for="txtTelefono">Teléfono: </label>
                                <input id="txtTelefono" type="text" class="inputs" placeholder="Teléfono" />
                            </div>
                            <div class="divInput">
                                <label for="txtCorreo">Correo: </label>
                                <input id="txtCorreo" type="email" class="inputs" placeholder="Correo" />
                            </div>
                            <div class="divInput">
                                <label for="txtEdad">Edad: </label>
                                <input id="txtEdad" type="text" class="inputs" placeholder="Edad" />
                            </div>
                            <div class="divInput">
                               <label for="selectGenre">Género: </label>
                               <select id="selectGenre" class="inputs" placeholder="Seleccione un Género">
                               </select>
                            </div>
                            <div class="divInput">
                                <label for="txtDomicilio">Domicilio: </label>
                                <input id="txtDomicilio" type="text" class="inputs" placeholder="Domicilio" />
                            </div>
                            <div class="divInput">
                               <label for="selectMunicipio">Género: </label>
                               <select id="selectMunicipio" class="inputs" placeholder="Seleccione un Municipio">
                               </select>
                            </div>
                                <div class="divInput">
                               <label for="selectMaterias">Género: </label>
                               <select id="selectMaterias" class="inputs" placeholder="Seleccione una Materia">
                               </select>
                            </div>
                            <div class="divInput">
                                <input  type="submit" class="btnsubmit"  />
                            </div>


                        </form>
                `,
                width: 1300,
                didOpen: () => {

                    //Agregar opciones a Select
                    addOptions();

                    //Evento Submit

                    const FormAlumno = document.querySelector('#FormAlumno');

                    FormAlumno.addEventListener('submit', addAlumno);
                },
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                showConfirmButton: false,

            })
        })


        function addOptions() {

            //Se agregan opciones al Select

            const select = document.querySelector("#selectGenre");
            const selectMunicipio = document.querySelector("#selectMunicipio");
            const selectMaterias = document.querySelector("#selectMaterias");

            generosArray.forEach(gen => {
                const option = document.createElement('option');

                option.setAttribute('id', gen.Id);
                option.textContent = gen.Nombre;

                select.appendChild(option);
            });

            municipiosArray.forEach(mun => {
                const option = document.createElement('option');

                option.setAttribute('id', mun.Id);
                option.textContent = mun.Nombre;

                selectMunicipio.appendChild(option);
            });

            materiasArray.forEach(mat => {
                const option = document.createElement('option');

                option.setAttribute('id', mat.Id);
                option.textContent = mat.Nombre;

                selectMaterias.appendChild(option);
            });


        }


        function addAlumno(e) {
            e.preventDefault();

            const txtNombre = document.querySelector('#nombreAlumno');
            const txtApellidoP = document.querySelector("#apellidoAPlumno");
            const txtApellidoM = document.querySelector("#apellidoMAlumno");
            const txtCurp = document.querySelector("#curpAlumno");
            const txtTelefono = document.querySelector("#txtTelefono");
            const txtCorreo = document.querySelector("#txtCorreo");
            const txtEdad = document.querySelector("#txtEdad");
            const select = document.querySelector("#selectGenre");
            const selectMunicipio = document.querySelector("#selectMunicipio");
            const selectMaterias = document.querySelector("#selectMaterias");

            let validacionEmail = false;

            if (txtNombre.value.trim() == "" || txtApellidoP.value.trim() == "" || txtApellidoM.value.trim() == ""
                || txtCurp.value.trim() == "" || txtTelefono.value.trim() == "" || txtCorreo.value.trim() == ""
                || txtCorreo.value.trim() == "" || txtEdad.value.trim() == "" || select.value == ""
                || selectMunicipio.value == "" || selectMaterias.value == "") {

                //Genera el error
                errorMessage('Llene todos los campos solicitados');

                return;
            }

            //Eliminar error de campos vacíos
            const errorDiv = document.querySelector(".errorDiv");

            if (errorDiv) {
                errorDiv.remove();
            }

            validacionEmail = validateEmail(txtCorreo.value);

            console.log(validacionEmail);

            //console.log("Enviando");
        }


        const errorMessage = (mensaje) => {

            const formulario = document.querySelector("#FormAlumno");

            const divError = document.createElement('div');
            const pMensaje = document.createElement('p');


            //Parrafo Mensaje
            pMensaje.classList.add('erroMensaje');
            pMensaje.textContent = mensaje;

            //DivMensaje
            divError.classList.add('errorDiv');
            divError.appendChild(pMensaje);

            //Insertar div de error

            const divContenedor = formulario.parentElement;

            divContenedor.prepend(divError);

            //console.log("Error", formulario.parentElement);

        }

        const validateEmail = (email) => {

            return /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i.test(email);
        }

    </script>

}
